@import '../mixins/_variables.scss';

.d3 {
  background-color: $color-7;
}


.link {
  stroke: #fff;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}

.node text {
  display: none;
  font: 16px sans-serif;
  font-weight: bold;
  fill: #fff;
  stroke: #000;
}

.node:hover circle {
  stroke: #fff;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

.node:hover text {
  display: inline;
}

.node-details {
  background-color: $color-3;
  position: absolute;
  width: 100%;
  border: 1px solid red;
  bottom: 0;
  
  span {
    line-height: 20vh;
    vertical-align: top;
    padding-left: 8px;
    font-size: 24px
  }
  
  img {
    height: 20vh;
  }
}