$color-1: #000000;
$color-2: #ffffff;
$color-3: #121212;
$color-4: #282828;
$color-5: #333333;
$color-6: #4D4D4D;
$color-7: #d0d0d0;
$color-8: #2AB759;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Covered By Your Grace', cursive;

$shadow1: 0 1px 3px rgba(0,0,0,0.12);

$S: 320px;
$M: 800px;
$L: 1200px;