@import './mixins/_normalize.scss';
@import './mixins/_variables.scss';

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
    weight: 400;
  }
  background-color: $color-3;
  color: #989898;
}

h1, h2, h3, h4 {
  font-weight: 500; 
}

p {
  color: $color-2;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 52px;
}

.btn {
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-2;
  padding: 6px 20px;
  border-radius: 500px;
  border: 2px solid $color-2;
  
  &:hover {
    background: $color-2;
    color: $color-1;
  }
}

.search {
  input {
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 500px;
    border: 2px solid $color-2;
    color: $color-1;
    
    &:focus {
      outline: none;
    }
  }
}