body {
  background-color: #ddd;
}

.link {
  stroke: #fff;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}

.node text {
  display: none;
  font: 16px sans-serif;
  font-weight: bold;
  fill: #fff;
  stroke: #000;
}

.node:hover circle {
  stroke: #fff;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

.node:hover text {
  display: inline;
}

.loggedin {
  line-height: 32px;
  
  span {
    padding: 0 4px;
    vertical-align: top;
  }
  
  img {
    width: 32px;
    border-radius: 50%;
  }
}