body {
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.link {
  stroke: #fff;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}

.node text {
  display: none;
  font: 16px sans-serif;
  font-weight: bold;
  fill: #fff;
  stroke: #000;
}

.node:hover circle {
  stroke: #fff;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

.node:hover text {
  display: inline;
}

.loggedin {
  line-height: 32px;
  
  span {
    padding: 0 4px;
    vertical-align: top;
  }
  
  img {
    width: 32px;
    border-radius: 50%;
  }
}

.login {
  text-align: center;
}

.btn {
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  border-radius: 500px;
  border: 2px solid rgb(255, 255, 255);
  
  &:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

.search {
  input {
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 500px;
    border: 2px solid rgb(255, 255, 255);
    
    &:focus {
      outline: none;
    }
  }
}