@import '../mixins/_variables.scss';

.search {
  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
  }
    
  div {
    background-color: $color-2;
    padding: 6px 20px 6px 0;
    border-radius: 500px;
  }
  
  svg {
    fill: $color-6;
  }
  
  .x {
    position: absolute;
    height: 10px;
    width: 10px;
  }
  
  .mag {
    height: 14px;
    width: 14px;
    margin: 0 8px 0 10px;
  }
  
  input {
    width: 200px;
    font-size: 14px;
    color: $color-1;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.artist-list {
  border-radius: 4px;
  position: absolute;
  top: 48px;
  margin: 0 10px 10px;
  width: 300px;
  background: $color-4;
  padding: 10px;
  
  >span {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: text-top;
  }
}

.artist-card {
  background: $color-5;
  margin: 2px 0;
  padding: 4px;
  cursor: pointer;
  height: 56px;
  
  &:hover {
    background: #4D4D4D;
  }
  
  span {
    padding-left: 4px;
    line-height: 48px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }
  
  img, svg {
    width: 48px;
    height: 48px;
  }
  
  img {
    border-radius: 50%;
  }
  
  svg {
    border-radius: 50%;
    fill: $color-6;
  }
}